header {
    background-color: red;
    height: 14vh;
    border-bottom: white 1vh solid;
}

footer {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    align-items: center;
    background-color: green;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin-right: 2em;
    font-size: 1em;
  }

  #blog-container {
    padding: 2em;
  }

ul {
  border: 5px black solid;
  padding: 1em;
  margin: 1em 0;
}