.main-div {
    display: flex;
    /* padding-left: 2em; */
    /* padding-right: 2em; */
    /* height: 100%; */
    /* background-color: red; */
    height: 85vh;
}

.left-content-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: black 2px solid;


}

.right-content-div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: black 2px solid;

}

.form-div {
    /* background-color: cyan; */
    /* height: 75%; */
    /* width: 75%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div h2 {
    text-align: center;
}

label span {
    display: inline-block;
    text-align: right;
  }

  input,
textarea {
  font: 1em sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #999;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
  }

label {
    position: relative;
    display: inline-block;
  }

  p label {
    width: 100%;
  }

  img {
    height: 75%;
  }

  header {
    display: flex;
    justify-content: center;
    border-bottom: black 6px solid;
    height: 14vh;
  }
  