* {
    margin: 0;
    padding: 0;
    
  }

body {
    position: relative;
    font-family: Lato, Arial, Helvetica, sans-serif;
    position: relative;
    min-height: 100vh;
    height: 100%;
  }

  a {
    color: black;
  }

  a:hover {
    color: rgb(85, 85, 85);
  }

  .dark-mode {
    background-color: black;
    color: white;
  }



  .heading-container {
    padding-left: 4em;
    padding-right: 4em;
    font-size: 2em;
    align-items: center;
    text-align: center;
  }

  .heading-container h2 {
    font-size: 1em;
    text-align: center;
  }


  .button-container {
    display: flex;
    align-items: center;
    padding-right: 3.5em;
    font-size: 3em;
  }

  .dark-mode ul {
      border: 5px white solid;
  }

  .dark-mode header {
    border-bottom: white 1vh solid;
}

.dark-mode .left-content-div {
  border-right: white 5px solid;
}

.dark-mode .right-content-div {
  border-left: white 5px solid;
}

.dark-mode button {
  background-color: rgb(85, 85, 85);
  color: white;
}

.dark-mode button:hover {
  background-color: lightgray;
  color: black;
}

.dark-mode a {
  color: white;
}

.dark-mode a:hover {
  color: lightgrey;
}


button {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 0.75em;
  text-align: center;
  font-size: 0.35em;
  cursor: pointer;
  border-radius: 0.75em;
  margin: 0.5em;
}

button:hover {
  background-color: black;
  color: white;
}