/* The CSS styles here are universal across both pages. */

* {
    margin: 0;
    padding: 0;
  }

  body {
    position: relative;
    font-family: Lato, Arial, Helvetica, sans-serif;
    /* These two styles for the body ensure the footer remains at the bottom of the screen 
    - even when scrolling is required when lots of blog entries are added. */
    position: relative;
    min-height: 100vh;
  }

a {
   color: black;
  }

a:hover {
  color: rgb(85, 85, 85);
  }

.heading-container {
    padding-left: 4em;
    padding-right: 4em;
    font-size: 2em;
    align-items: center;
    text-align: center;
  }

.heading-container h2 {
  font-size: 1em;
  text-align: center;
  }

  /* Styles for all buttons on the website. 
  I took inspiration from a W3 schools guide for these - see my README.MD file for further details.*/
button {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 0.75em;
  text-align: center;
  font-size: 0.35em;
  cursor: pointer;
  border-radius: 0.75em;
  margin: 0.5em;
  }
  
button:hover {
  background-color: black;
  color: white;
  }


/* Below are all the dark mode styles that are called when the 'toggle dark/light' button is pressed. 
Pressing the button again will revert all elements back to their originally set styles. */
  .dark-mode {
    background-color: black;
    color: white;
  }

  .dark-mode ul {
      border: 5px white solid;
  }

  .dark-mode header {
    border-bottom: white 1vh solid;
}

.dark-mode .left-content-div {
  border-right: white 5px solid;
}

.dark-mode .right-content-div {
  border-left: white 5px solid;
}

.dark-mode button {
  background-color: rgb(85, 85, 85);
  color: white;
}

.dark-mode button:hover {
  background-color: lightgray;
  color: black;
}

.dark-mode a {
  color: white;
}

.dark-mode a:hover {
  color: lightgrey;
}

.dark-mode footer {
  background-color: rgb(85, 85, 85);
}